{% extends 'index.html' %}

{% block title %}
Account
{% endblock %}

{% block login %}

{% load crispy_forms_tags %}
<li>
    <div class="banner-info">
        <h2>
            {% if name %}
            {{ name }}
            {% else %}
                Change Password
            {% endif %}
        </h2><br>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <button class="btn btn-primary" type="submit">
                {% if name %}
                    {{ name }}
                {% else %}
                    Change Password
                {% endif %}
            </button>
        </form>
    </div>
</li>

{% endblock %}